.verticaltext {
    position: relative;
    margin:1em 0;
    min-height:100px;
}

.verticaltext_content {
    transform: rotate(-90deg);
    position: absolute;
    text-transform: uppercase;
}

.vertrow {
    display: inline-block;
    vertical-align: top; /* here */
}

.ng {
	writing-mode: vertical-lr;
	text-orientation: upright;
    text-transform: uppercase;
}

.today-date {
	text-transform: uppercase;
	font-weight: bold;
}

.time-box {
	border: 1px solid black;
}

.task-executed {
	font-weight: bold;
}

.task-not-executed {
	border-color: white;
}