<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Life Organizer</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link
	href="/custom.css"
	rel="stylesheet">
</head>
<body>


	<div class="container py-5">
		<div class="row">
			<div class="col-lg-5">
				<h1 class="h2">This Week!</h1>
			</div>

			<div class="col-lg-7">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5">
				<div class="row" th:each="task : ${weekTasks}">
					<div class="col-md-11" th:text="${task.taskName}"></div>
					<div class="col-md-1"><a
						th:href="@{/weekTask/ui/delete/{id}(id=${task.taskId})}">
							<button type="button" class="btn btn-secondary">X</button>
					</a></div>
				</div>

				<form action="#" th:action="@{/weekTask/ui/create}"
					th:object="${newWeekTask}" method="post">
					<div class="input-group">
						<input class="form-control" type="text" th:field="*{taskName}"
							placeholder="Task">
						<input class="btn btn-primary"
							type="submit" value="Add Task">
					</div>
				</form>
			</div>

			<div class="col-lg-7">
			
				<div class="row">
					<div class="col-md-1 verticaltext">
						<h5 class="verticaltext_content">2x/Week</h5>
					</div>
					<div class="col-md-11">
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-1" th:classappend="${weekDates.Sunday.isToday} == true ? 'today-date'" th:text="${weekDates.Sunday.formattedDate}"></div>
							<div class="col-md-1" th:classappend="${weekDates.Monday.isToday} == true ? 'today-date'" th:text="${weekDates.Monday.formattedDate}"></div>
							<div class="col-md-1" th:classappend="${weekDates.Sunday.isToday} == true ? 'today-date'" th:text="${weekDates.Tuesday.formattedDate}"></div>
							<div class="col-md-1" th:classappend="${weekDates.Sunday.isToday} == true ? 'today-date'" th:text="${weekDates.Wednesday.formattedDate}"></div>
							<div class="col-md-1" th:classappend="${weekDates.Sunday.isToday} == true ? 'today-date'" th:text="${weekDates.Thursday.formattedDate}"></div>
							<div class="col-md-1" th:classappend="${weekDates.Sunday.isToday} == true ? 'today-date'" th:text="${weekDates.Friday.formattedDate}"></div>
							<div class="col-md-1" th:classappend="${weekDates.Sunday.isToday} == true ? 'today-date'" th:text="${weekDates.Saturday.formattedDate}"></div>
							<div class="col-md-1"></div>
						</div>
						<div class="row" th:each="twiceWeekTask : ${twiceWeekTasks}">
							<div class="col-md-4" th:text="${twiceWeekTask.taskName}"></div>
							<div class="col-md-1">
						  		<form action="#" th:action="@{/scheduledTask/ui/toggle/{id}/execution/{date}(id=${twiceWeekTask.taskId}, date=${weekDates.Sunday.date})}"
									method="post">
									<div class="input-group">
										<input class="btn btn-primary" type="submit" th:value="${#strings.contains(twiceWeekTask.executions, weekDates.Sunday.formattedDate)} ? 'X' : 'O'">
									</div>
								</form>
							</div>
							<div class="col-md-1">
						  		<form action="#" th:action="@{/scheduledTask/ui/toggle/{id}/execution/{date}(id=${twiceWeekTask.taskId}, date=${weekDates.Monday.date})}"
									method="post">
									<div class="input-group">
										<input class="btn btn-primary" type="submit" th:value="${#strings.contains(twiceWeekTask.executions, weekDates.Monday.formattedDate)} ? 'X' : 'O'">
									</div>
								</form>
							</div>
							<div class="col-md-1">
						  		<form action="#" th:action="@{/scheduledTask/ui/toggle/{id}/execution/{date}(id=${twiceWeekTask.taskId}, date=${weekDates.Tuesday.date})}"
									method="post">
									<div class="input-group">
										<input class="btn btn-primary" type="submit" th:value="${#strings.contains(twiceWeekTask.executions, weekDates.Tuesday.formattedDate)} ? 'X' : 'O'">
									</div>
								</form>
							</div>
							<div class="col-md-1">
						  		<form action="#" th:action="@{/scheduledTask/ui/toggle/{id}/execution/{date}(id=${twiceWeekTask.taskId}, date=${weekDates.Wednesday.date})}"
									method="post">
									<div class="input-group">
										<input class="btn btn-primary" type="submit" th:value="${#strings.contains(twiceWeekTask.executions, weekDates.Wednesday.formattedDate)} ? 'X' : 'O'">
									</div>
								</form>
							</div>
							<div class="col-md-1">
						  		<form action="#" th:action="@{/scheduledTask/ui/toggle/{id}/execution/{date}(id=${twiceWeekTask.taskId}, date=${weekDates.Thursday.date})}"
									method="post">
									<div class="input-group">
										<input class="btn btn-primary" type="submit" th:value="${#strings.contains(twiceWeekTask.executions, weekDates.Thursday.formattedDate)} ? 'X' : 'O'">
									</div>
								</form>
							</div>
							<div class="col-md-1">
						  		<form action="#" th:action="@{/scheduledTask/ui/toggle/{id}/execution/{date}(id=${twiceWeekTask.taskId}, date=${weekDates.Friday.date})}"
									method="post">
									<div class="input-group">
										<input class="btn btn-primary" type="submit" th:value="${#strings.contains(twiceWeekTask.executions, weekDates.Friday.formattedDate)} ? 'X' : 'O'">
									</div>
								</form>
							</div>
							<div class="col-md-1">
						  		<form action="#" th:action="@{/scheduledTask/ui/toggle/{id}/execution/{date}(id=${twiceWeekTask.taskId}, date=${weekDates.Saturday.date})}"
									method="post">
									<div class="input-group">
										<input class="btn btn-primary" type="submit" th:value="${#strings.contains(twiceWeekTask.executions, weekDates.Saturday.formattedDate)} ? 'X' : 'O'">
									</div>
								</form>
							</div>
							<div class="col-md-1"><a
								th:href="@{/scheduledTask/ui/delete/{id}(id=${twiceWeekTask.taskId})}">
									<button type="button" class="btn btn-secondary">X</button>
							</a></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-1 verticaltext">
						<h5 class="verticaltext_content">1x/Week</h5>
					</div>
					<div class="col-md-11">
						<div class="row" th:each="onceWeekTask : ${onceWeekTasks}">
							<div class="col-md-4" th:text="${onceWeekTask.taskName}"></div>
							<div class="col-md-1"></div>
							<div class="col-md-1"></div>
							<div class="col-md-1"></div>
							<div class="col-md-1"></div>
							<div class="col-md-1"></div>
							<div class="col-md-1"></div>
							<div class="col-md-1"></div>
							<div class="col-md-1"><a
								th:href="@{/scheduledTask/ui/delete/{id}(id=${onceWeekTask.taskId})}">
									<button type="button" class="btn btn-secondary">X</button>
							</a></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-1 verticaltext">
						<h5 class="verticaltext_content">2x/Month</h5>
					</div>
					<div class="col-md-11">
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">Once</div>
							<div class="col-md-3">Twice</div>
							<div class="col-md-1"></div>
						</div>
						<div class="row" th:each="twiceMonthTask : ${twiceMonthTasks}">
							<div class="col-md-4" th:text="${twiceMonthTask.taskName}"></div>
							<div class="col-md-4"></div>
							<div class="col-md-3"></div>
							<div class="col-md-1"><a
								th:href="@{/scheduledTask/ui/delete/{id}(id=${twiceMonthTask.taskId})}">
									<button type="button" class="btn btn-secondary">X</button>
							</a></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-1 verticaltext">
						<h5 class="verticaltext_content">1x/Month</h5>
					</div>
					<div class="col-md-11">
						<div class="row" th:each="onceMonthTask : ${onceMonthTasks}">
							<div class="col-md-4" th:text="${onceMonthTask.taskName}"></div>
							<div class="col-md-7"></div>
							<div class="col-md-1"><a
								th:href="@{/scheduledTask/ui/delete/{id}(id=${onceMonthTask.taskId})}">
									<button type="button" class="btn btn-secondary">X</button>
							</a></div>
						</div>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-12">
						<p>
							<a href="/scheduledTask/ui/add-task"><button type="button"
									class="btn btn-primary">Add Scheduled Task</button></a>
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			Life Organizer
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Checklist</a></li>
					<li class="nav-item"><a class="nav-link" href="/small-chunks">Small
							Chunk Projects</a></li>
					<li class="nav-item"><a class="nav-link" href="/big-chunks">Big
							Chunk Projects</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
</body>
</html>