<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spencer Organizer Small Chunks</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link
	href="/custom.css"
	rel="stylesheet">
</head>
<body>

	<div class="container py-5">
		<div class="row">
			<h1>Small Chunks</h1>
		</div>
		<div class="row">
			<div class="row" th:each="task : ${tasks}">
				<div class="col-2" th:text="${task.projectName}"></div>
				<div class="col-9" th:text="${task.taskName}"></div>
				<div class="col-1"><a
					th:href="@{/task/ui/delete/{id}(id=${task.taskId})}">
						<button type="button" class="btn btn-outline-secondary">X</button>
				</a></div>
			</div>
	
			<form action="#" th:action="@{/task/ui/create}"
				th:object="${newTask}" method="post">
				<div class="input-group">
					<input class="form-control" type="text" th:field="*{projectName}"
						placeholder="Project">
				</div>
				<div class="input-group">
					<input class="form-control" type="text" th:field="*{taskName}"
						placeholder="Task">
				</div>
				<div class="input-group">
					<input class="btn btn-primary"
						type="submit" value="Add Task">
				</div>
			</form>

		</div>
	</div>

	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			Life Organizer
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Checklist</a></li>
					<li class="nav-item"><a class="nav-link" href="/small-chunks">Small
							Chunk Projects</a></li>
					<li class="nav-item"><a class="nav-link" href="/big-chunks">Big
							Chunk Projects</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
</body>
</html>