<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spencer Organizer Small Chunks</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link
	href="/custom.css"
	rel="stylesheet">
</head>
<body>

	<div class="container py-5">
		<div class="row">
			<h1>Small Chunks</h1>
		</div>
		<div class="row">
			<div class="row" th:each="task : ${tasks}">
				<div class="col-1">
					<a th:href="@{/task/ui/schedule/{id}(id=${task.taskId})}">
						<button type="button" class="btn btn-outline-secondary">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"
							th:unless="${#strings.contains(task.projectName, 'thisweek')}">
							  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
							</svg>
							
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"
							th:if="${#strings.contains(task.projectName, 'thisweek')}">
							  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
							</svg>
						</button>
					</a>
				</div>
				<div class="col-10" th:text="${task.taskName}"></div>
				<div class="col-1"><a
					th:href="@{/task/ui/delete/{id}(id=${task.taskId})}">
						<button type="button" class="btn btn-outline-secondary">X</button>
				</a></div>
			</div>
	
			<form action="#" th:action="@{/task/ui/create}"
				th:object="${newTask}" method="post">
				<div class="input-group">
					<input class="form-control" type="text" th:field="*{projectName}"
						placeholder="Project">
				</div>
				<div class="input-group">
					<input class="form-control" type="text" th:field="*{taskName}"
						placeholder="Task">
				</div>
				<div class="input-group">
					<input class="btn btn-primary"
						type="submit" value="Add Task">
				</div>
			</form>

		</div>
	</div>

	<nav class="navbar navbar-expand bg-light">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">Life Organizer</li>
					<li class="nav-item"><a class="nav-link" href="/checklist">Checklist</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Small
							Chunk Projects</a></li>
					<li class="nav-item"><a class="nav-link" href="/big-chunks">Big
							Chunk Projects</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
</body>
</html>